/* 
 * logistics-tools
 */
#ltInsert {
  width: 100%;
  padding: 2rem;
  line-height: 1.4rem;
  background-color: rgba(0,255,0,0.6);
}

/* 
 * autocontainers
 */

#aInput {
  font-family: monospace monospace;
  font-size: 1.9rem;
  min-width: 12rem;
  height: 75vh;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

/* 
 * consinspect
 */

#cEvents {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  padding-top: 0;
  border-radius: 0.8em;
  max-height: 90%;
  min-width: 580px;
  background-color: white;
  z-index: 999;
  overflow-y: auto;
  overscroll-behavior: none
}
#cAudits {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  z-index: 999
}
#cLoading {
  margin: 0 auto;
  width: 88px;
  font-size: 88px;
}
.dlink {
  color: rgba(67,142,185,1)
}
.dlink:hover {
  cursor: pointer
}
.events-header-item, .event-item, .consignments-header-item, .consignment-item {
  padding: 4px
}
.consignment-item:first-of-type:hover {
  cursor: pointer
}
.event, .consignment {
  border: 1px solid rgba(0,0,0,.7);
  border-top-style: none;
  background-color: rgba(255,255,255,1)
}
.event:nth-of-type(odd), .consignment:nth-of-type(odd) {
  background-color: rgba(0,0,0,0.1)
}
.events-header, .consignments-header {
  border: 1px solid rgba(0,0,0,.7);
  color: rgba(255,255,255,1);
  background-color: rgba(67,142,185,1)
}
#cForm, #aForm {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.4em;
  width: 580px;
  padding: 30px 35px 30px 35px
}
#aForm {
  grid-template-columns: auto auto;
}


#cDate, #cButton, #cStatus {
  line-height: 1.4em
}
#cStatus {
  height: 2.7em
}
#cConsignments {
  width: 580px;
  margin: 0 auto
}
#eTable {
  min-width: 555px
}
