input[type=date]::-webkit-inner-spin-button {
  display: none;
}
#lt_container {
  width: fit-content;
  margin: 0 auto;
}
#lt_menu {
  width: fit-content;
  margin: 2rem auto;
  display: grid;
  grid-gap: 1.4em;
  grid-template-columns: auto auto auto;
  padding: 1rem 2.5rem;
}
#lt_insert {
  margin: 0 auto;
}
#lt_results {
  padding: 2rem 2.5rem;
  width: fit-content;
  margin: 0 auto;
}
.lt-button, .lt-input {
  border: 1px solid rgba(0,0,0,.25);
  padding: 1rem 2rem;
} 
.lt-button {
  border-radius: .3rem;
  background: rgba(98,168,209,1);
  color: rgba(255,255,255,1);
}
.lt-button:hover, .lt-button:active {
 background: rgba(60,128,166,1);
}
#ci_results, #ac_results, #sc_results {
  padding: 2rem;
  line-height: 1.4rem;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,.1);
}
#ci_form, #ac_form, #sc_form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.4em;
  width: fit-content;
  padding: 2em 2.5em 2em 2.5em;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,.25);
}
#ac_form {
  grid-template-columns: auto auto;
  width: 380px;
}
#ac_ti {
  font-size: 2rem;
  font-weight: 600;
}
#ac_data {
  font-family: monospace;
  font-size: 1.9rem;
  line-height: 2.2rem;
  min-width: 12rem;
  height: 33vh;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
#lt_insert input, #lt_insert select {
  padding: 0 1rem;
}
#lt_insert select {
  height: 4rem;
}
.lt-tab {
  display: none;
}
.sc-row, .ci-row, .ac-row {
  padding: .2rem 1rem .1rem;
  border: 1px solid rgba(0,0,0,0.25);
  border-style: none solid solid;
  font-size: 1.2rem;
  background-color: white;
  line-height: 1.6rem;
  display: grid;
  grid-template-columns: 12rem 42rem;
}
.sc-row.lt-error td, .sc-row.lt-error span, #ac_ti {
  grid-column-start: 1;
  grid-column-end: 3;
}
.sc-row:first-child, .ci-row:first-child, .ac-row:first-child {
  border-top-style: solid;
}
.sc-error, .lt-error {
  color: rgba(255,0,0,1);
  font-weight: 700;
}
.lt-error {
  width: 580px
}
.ci-row {
  display: table-row;
}
.ci-row > td {
  display: table-cell;
  padding: 0 0.5rem;
}
.ci-row > td:first-child {
  display: none;
}
.ci-head {
  font-weight: 700;
  background-color: rgba(0,0,0,0.2);
}
.lt-loader {
  margin: 0 auto;
  border: 0.2rem solid rgba(42,145,216,1);
  border-radius: 50%;
  border-top: 0.2rem solid rgba(0,0,0,0,0.7);
  height: 3rem;
  width: 3rem;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

