#cEvents {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-top: 0;
  max-height: 90%;
  background-color: white;
  z-index: 999;
  overflow-y: auto;
  overscroll-behavior: none;
}
#cAudits {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  z-index: 999;
}
.events-header-item, .event-item, .consignments-header-item, .consignment-item {
  padding: 4px;
}
.consignment-item:first-of-type:hover {
  cursor: pointer;
}
.event, .events-header {
  display: grid;
  grid-template-columns: 140px 40px 180px 140px;
}
.event {
  border: 1px solid rgba(0,0,0,.7);
  border-top-style: none;
  background-color: rgba(255,255,255,1);
}
.consignments-header, .consignment {
  display: grid;
  grid-template-columns: 120px 60px 80px 80px 100px 140px;
}
.consignment:nth-of-type(odd) {
  background-color: rgba(0,0,0,0.1)
}
.events-header, .consignments-header {
  color: rgba(255,255,255,1);
  background-color: rgba(67,142,185,1);
}
#cForm {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.4em;
  width: 580px;
  padding: 30px 35px 30px 35px;
}
#cDate {
  line-height: 1.em;
}
#cButton {
  line-height: 1.4em;
}
#cStatus {
  line-height: 1.4em;
  height: 2.7em;
}
#cConsignments {
  width: 580px;
  margin: 0 auto;
}
